@import './reset.scss';

a {
  text-decoration: none;
  color: #eeeeee;
}

%themeColor {
  color: #fab005;
}

%flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
%flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input, button {
  background-color: rgba(0,0,0,0);
  outline: none;
  cursor: pointer;
}